
 
 .page-holder {
	min-height: 88vh;
	scroll-behavior: smooth;
 }
 
 .navbar-nav .active a {
	border: 2px solid #D14233;
 }
 
 .kawo :hover {
	border: 3px solid #D14233;
	color: #b33939;
 }
 
 h1 {
	font-family: Noto sans Jp;
 }
 
 h3 {
	font-size: 35px;
 }
 
 
 .text {
	top: 100px;
 }
 
 .text-btn {
	width: 275px;
	height: 75px;
 }
 
 .login {
	margin-top: 100px;
 }
 
 .navnav {
	background-color:rgb(59, 12, 12);
	color: #D14233;
	padding: 0;
	min-height: 0;
	height: 110px;
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 2px 5px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 10px 0px;
	z-index: 1100;
 }
 
 .footer {
	background-color:rgb(59, 12, 12);
 }
 
 
 .page-holder {
	min-height: 100vh;
	scroll-behavior: smooth;
 }
 
 .bg-cover {
	background-size: cover !important;
	background-image: url('images/backpage.jpeg');
	height: 100%;
 }
 
 .navbar-nav .active a {
	border: 2px solid #D14233;
 }
 
 .yie {
	background-color: red;
 }
 .kawo :hover {
	border: 3px solid #D14233;
	color: #b33939;
 }
 
 h1 {
	font-family: Noto sans Jp;
 }
 
 h3 {
	font-size: 35px;
	font-family: Noto Sans JP;
 }
 
 .text-btn {
	width: 275px;
	height: 75px;
 }
 
 .navnav {
	background: transparent;
	color: #D14233;
	padding: 0;
	min-height: 0;
	height: 110px;
	position: relative;
	z-index: 1100;
 }
 /*
 .navnav {
	background-color:rgb(59, 12, 12);
 }*/
 
 .footer {
	background-color:rgb(59, 12, 12); 
 }
 
 .page-holder {
	min-height: 100vh;
	scroll-behavior: smooth;
 }
 
 .bg-cover {
	background-size: cover !important;
	background-image: url('images/backpage.jpeg');
	height: 100%;
 }
 
 .navbar-nav .active a {
	border: 2px solid #D14233;
 }
 
 .yie {
	background-color: red;
 }
 .kawo :hover {
	border: 3px solid #D14233;
	color: #b33939;
 }
 
 h1 {
	font-family: Noto sans Jp;
 }
 
 h3 {
	font-size: 35px;
	font-family: Noto Sans JP;
 }
 
 .text-btn {
	width: 275px;
	height: 75px;
 }
 
 .navnav {
	background: transparent;
	color: #D14233;
	padding: 0;
	min-height: 0;
	height: 110px;
	position: relative;
	z-index: 1100;
 }
 /*
 .navnav {
	background-color:rgb(59, 12, 12);
 }*/
 
 .footer {
	background-color:rgb(59, 12, 12); 
 }
 
 .page-holder {
	min-height: 100vh;
 }
 
 .form-control {
	width: 100%;
 }
 
 .navbar-nav .active a {
	border: 2px solid #D14233;
 }
 
 .startup-text {
	font-size: 18px;
	font-family: Noto Sans Jp;
	line-height: 20px;
 }
 
 
 .img-thumbnail {
	height: 125px;
	width: 125px;
 }
 
 .kawo :hover {
	border: 3px solid #D14233;
	color: #b33939;
 }
 
 .text {
	top: 100px;
 }
 
 .text-btn {
	width: 275px;
	height: 75px;
 }
 
 .navnav {
	background-color:rgb(59, 12, 12);
 }
 
 .footer {
	background-color:rgb(59, 12, 12); 
 }   